<div>
  <h3>Test App</h3>

  <div>
    <div>
      <p>
        <button *ngIf="(!loading)" class="btn btn-primary" type="submit" (click)="getUsersByLocation('London')">Load</button>
        <button *ngIf="(loading)" class="btn btn-primary" type="submit" disabled>Load</button>
        <span class="text-muted btn">Calls the location API endpoint with argument 'London'</span>
      </p>
      <!--  -->
      <p>
        <button *ngIf="(!loading)" class="btn btn-primary" type="submit" (click)="getUsersWithinFiftyMiles()">Load</button>
        <button *ngIf="(loading)" class="btn btn-primary" type="submit" disabled>Load</button>
        <span class="text-muted btn">Calls the users API endpoint, then filters out any records with coordinates more than 50 miles from London</span>
      </p>
  

    </div>
  </div>

  <div>

    <!-- <div *ngIf="!users && searching">
      <p><i>loading the results...</i></p>
    </div> -->
    <div>
      <h4>Results</h4>

      <div *ngIf="users">
        <p>{{ users.length }} results were returned: </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">id</th>
              <th scope="col">first_name</th>
              <th scope="col">last_name</th>
              <th scope="col">email</th>
              <th scope="col">ip_address</th>
              <th scope="col">latitude</th>
              <th scope="col">longitude</th>
              <th scope="col">nml latitude</th>
              <th scope="col">nml longitude</th>
              <th scope="col">distance (miles)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.id | number }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.ip_address }}</td>
              <td>{{ user.latitude }}</td>
              <td>{{ user.longitude }}</td>
              <td>{{ user.normal_lat }}</td>
              <td>{{ user.normal_lng }}</td>
              <td>{{ user.distance }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>